body {
    font-family: Arial;
    text-align: center;
    background-color: #222;
    color: white;
}

canvas {
    display: block;
    border: 2px solid white;
    margin: 20px auto 0;
    background-color: black;
}